In [1]:
import numpy as np
import pandas as pd
from keras.models import load_model

Using TensorFlow backend.

In [2]:
test_features = pd.read_csv("dengue_features_test.csv", index_col=[0,1,2]) 
train_features = pd.read_csv("dengue_features_train.csv", index_col=[0,1,2]) 
train_labels = pd.read_csv("dengue_labels_train.csv", index_col=[0,1,2]) 
submission_format = pd.read_csv("submission_format.csv", index_col=[0,1,2])

## Only IQ Columns

In [3]:
# Seperate data for San Juan
iq_train_features = train_features.loc['iq']
iq_train_labels = train_labels.loc["iq"]
iq_test_features = test_features.loc["iq"]

In [4]:
#removing NaNs
iq_train_features.fillna(0, inplace=True)
iq_test_features.fillna(0, inplace=True)

c:\users\milla\projects\databears\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [5]:
iq_train_features.set_index("week_start_date")
iq_test_features.set_index("week_start_date")

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,
2010-07-02,0.183783,0.142500,0.225129,0.150214,82.29,297.648571,299.214286,296.118571,307.9,293.7,34.11,92.581429,82.29,17.654286,9.428571,27.440,10.760,33.8,21.5,11.2
2010-07-09,0.291657,0.272267,0.330700,0.320914,25.30,298.224286,299.464286,294.831429,307.7,292.2,9.10,83.885714,25.30,16.320000,10.157143,27.025,9.625,33.0,21.2,8.9
2010-07-16,0.208543,0.366457,0.212629,0.255514,62.14,297.955714,298.964286,296.417143,306.4,292.5,61.09,92.057143,62.14,18.030000,9.557143,26.950,10.350,33.4,21.6,22.6
2010-07-23,0.089286,0.063214,0.122057,0.081957,47.80,295.715714,296.642857,293.638571,306.4,289.3,19.60,88.970000,47.80,15.394286,7.828571,26.900,9.700,33.3,14.2,4.8
2010-07-30,0.306100,0.327683,0.250086,0.267914,56.30,298.502857,300.000000,293.892857,308.1,290.5,18.93,78.610000,56.30,15.468571,11.771429,27.050,11.850,33.5,16.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-05-28,0.301471,0.380029,0.280629,0.383186,41.12,297.774286,298.964286,295.638571,305.5,292.7,67.60,89.990000,41.12,17.185714,10.100000,27.400,9.050,32.6,21.8,33.0
2013-06-04,0.247600,0.296343,0.285371,0.350357,71.52,297.167143,298.328571,295.845714,306.3,291.6,45.70,93.891429,71.52,17.448571,9.657143,27.520,10.720,33.8,21.4,68.0
2013-06-11,0.238729,0.251029,0.252586,0.249771,78.96,295.831429,296.607143,294.894286,304.6,290.7,45.22,94.967143,78.96,16.410000,7.385714,27.200,10.075,32.6,21.6,93.2
2013-06-18,0.310429,0.302700,0.406614,0.403943,39.54,295.778571,297.400000,293.648571,305.9,292.5,4.70,89.057143,39.54,15.137143,8.228571,26.700,8.480,32.2,21.8,34.1
2013-06-25,0.339467,0.240071,0.356943,0.273600,51.80,297.372857,299.000000,294.615714,307.3,289.6,27.80,87.030000,51.80,16.148571,11.542857,27.350,9.675,32.6,22.0,14.9

In [6]:
#removing NaNs - test

iq_train_features.isnull().sum()
# iq_train_features

week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [7]:
iq_train_labels["week_start_date"] = iq_train_features["week_start_date"]

In [8]:
iq_train_labels.set_index("week_start_date")

                 total_cases
week_start_date
2000-07-01                 0
2000-07-08                 0
2000-07-15                 0
2000-07-22                 0
2000-07-29                 0
...                      ...
2010-05-28                 5
2010-06-04                 8
2010-06-11                 1
2010-06-18                 1
2010-06-25                 4

[520 rows x 1 columns]

In [10]:
# data normalization
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler(feature_range=(0,1))
sc_Y = MinMaxScaler(feature_range=(0,1))
iq_train_features_scaled = sc_X.fit_transform(iq_train_features.drop(columns = ["week_start_date"]))
iq_train_labels_scaled = sc_Y.fit_transform(np.reshape(iq_train_labels["total_cases"].tolist(), (520, 1)))

In [11]:
iq_train_features_scaled

array([[0.37942954, 0.29104044, 0.6332466 , ..., 0.77014218, 0.8553719 ,
        0.00552181],
       [0.42653737, 0.6075762 , 0.53771022, ..., 0.8056872 , 0.85950413,
        0.10233757],
       [0.34770263, 0.38098086, 0.3791731 , ..., 0.78199052, 0.8553719 ,
        0.070127  ],
       ...,
       [0.48599125, 0.32140825, 0.46507607, ..., 0.76303318, 0.79338843,
        0.01362047],
       [0.65684988, 0.54083612, 0.51807225, ..., 0.73933649, 0.8677686 ,
        0.02944966],
       [0.5865674 , 0.51266888, 0.50939442, ..., 0.7985782 , 0.91735537,
        0.03754832]])

In [12]:
iq_train_labels_scaled.shape

(520, 1)

In [13]:
iq_train_labels

                 total_cases week_start_date
year weekofyear
2000 26                    0      2000-07-01
     27                    0      2000-07-08
     28                    0      2000-07-15
     29                    0      2000-07-22
     30                    0      2000-07-29
...                      ...             ...
2010 21                    5      2010-05-28
     22                    8      2010-06-04
     23                    1      2010-06-11
     24                    1      2010-06-18
     25                    4      2010-06-25

[520 rows x 2 columns]

In [14]:
#incoperating time steps into data

X_train = []
y_train = []
for i in range(0, len(iq_train_features_scaled)):
    X_train.append(iq_train_features_scaled[i,:])
    y_train.append(iq_train_labels_scaled[i,0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))

In [15]:
X_train.shape

(520, 1, 20)

In [16]:
X_train[1:].shape

(519, 1, 20)

In [18]:
#Model

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(1, 20)))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train[:400],y_train[:400],epochs=100,batch_size=32, 
          validation_data=(X_train[400:], y_train[400:]))
model.save('LSTM_IQ.h5')

Train on 400 samples, validate on 120 samples
Epoch 1/100
400/400 [==============================] - 1s 2ms/step - loss: 0.0089 - val_loss: 0.0089
Epoch 2/100
400/400 [==============================] - 0s 105us/step - loss: 0.0083 - val_loss: 0.0087
Epoch 3/100
400/400 [==============================] - 0s 102us/step - loss: 0.0087 - val_loss: 0.0090
Epoch 4/100
400/400 [==============================] - 0s 125us/step - loss: 0.0085 - val_loss: 0.0087
Epoch 5/100
400/400 [==============================] - 0s 135us/step - loss: 0.0084 - val_loss: 0.0089
Epoch 6/100
400/400 [==============================] - 0s 112us/step - loss: 0.0084 - val_loss: 0.0089
Epoch 7/100
400/400 [==============================] - 0s 110us/step - loss: 0.0085 - val_loss: 0.0089
Epoch 8/100
400/400 [==============================] - 0s 115us/step - loss: 0.0084 - val_loss: 0.0093
Epoch 9/100
400/400 [==============================] - 0s 118us/step - loss: 0.0084 - val_loss: 0.0089
Epoch 10/100
400/400 [==============================] - 0s 140us/step - loss: 0.0083 - val_loss: 0.0091
Epoch 11/100
400/400 [==============================] - 0s 150us/step - loss: 0.0083 - val_loss: 0.0091
Epoch 12/100
400/400 [==============================] - 0s 140us/step - loss: 0.0083 - val_loss: 0.0091
Epoch 13/100
400/400 [==============================] - 0s 143us/step - loss: 0.0081 - val_loss: 0.0091
Epoch 14/100
400/400 [==============================] - 0s 142us/step - loss: 0.0082 - val_loss: 0.0093
Epoch 15/100
400/400 [==============================] - 0s 170us/step - loss: 0.0081 - val_loss: 0.0090
Epoch 16/100
400/400 [==============================] - 0s 153us/step - loss: 0.0081 - val_loss: 0.0094
Epoch 17/100
400/400 [==============================] - 0s 155us/step - loss: 0.0082 - val_loss: 0.0093
Epoch 18/100
400/400 [==============================] - 0s 160us/step - loss: 0.0081 - val_loss: 0.0093
Epoch 19/100
400/400 [==============================] - 0s 168us/step - loss: 0.0079 - val_loss: 0.0094
Epoch 20/100
400/400 [==============================] - 0s 162us/step - loss: 0.0082 - val_loss: 0.0093
Epoch 21/100
400/400 [==============================] - 0s 138us/step - loss: 0.0079 - val_loss: 0.0094
Epoch 22/100
400/400 [==============================] - 0s 137us/step - loss: 0.0082 - val_loss: 0.0095
Epoch 23/100
400/400 [==============================] - 0s 158us/step - loss: 0.0082 - val_loss: 0.0098
Epoch 24/100
400/400 [==============================] - 0s 178us/step - loss: 0.0081 - val_loss: 0.0095
Epoch 25/100
400/400 [==============================] - 0s 160us/step - loss: 0.0080 - val_loss: 0.0096
Epoch 26/100
400/400 [==============================] - 0s 172us/step - loss: 0.0079 - val_loss: 0.0097
Epoch 27/100
400/400 [==============================] - 0s 145us/step - loss: 0.0083 - val_loss: 0.0098
Epoch 28/100
400/400 [==============================] - 0s 125us/step - loss: 0.0080 - val_loss: 0.0095
Epoch 29/100
400/400 [==============================] - 0s 180us/step - loss: 0.0084 - val_loss: 0.0097
Epoch 30/100
400/400 [==============================] - 0s 160us/step - loss: 0.0079 - val_loss: 0.0097
Epoch 31/100
400/400 [==============================] - 0s 155us/step - loss: 0.0080 - val_loss: 0.0096
Epoch 32/100
400/400 [==============================] - 0s 143us/step - loss: 0.0079 - val_loss: 0.0099
Epoch 33/100
400/400 [==============================] - 0s 145us/step - loss: 0.0078 - val_loss: 0.0097
Epoch 34/100
400/400 [==============================] - 0s 150us/step - loss: 0.0080 - val_loss: 0.0102
Epoch 35/100
400/400 [==============================] - 0s 157us/step - loss: 0.0078 - val_loss: 0.0098
Epoch 36/100
400/400 [==============================] - 0s 183us/step - loss: 0.0078 - val_loss: 0.0100
Epoch 37/100
400/400 [==============================] - 0s 170us/step - loss: 0.0078 - val_loss: 0.0100
Epoch 38/100
400/400 [==============================] - 0s 142us/step - loss: 0.0079 - val_loss: 0.0103
Epoch 39/100
400/400 [==============================] - 0s 137us/step - loss: 0.0080 - val_loss: 0.0102
Epoch 40/100
400/400 [==============================] - 0s 142us/step - loss: 0.0077 - val_loss: 0.0101
Epoch 41/100
400/400 [==============================] - 0s 155us/step - loss: 0.0076 - val_loss: 0.0103
Epoch 42/100
400/400 [==============================] - 0s 145us/step - loss: 0.0078 - val_loss: 0.0103
Epoch 43/100
400/400 [==============================] - 0s 140us/step - loss: 0.0078 - val_loss: 0.0105
Epoch 44/100
400/400 [==============================] - 0s 140us/step - loss: 0.0075 - val_loss: 0.0102
Epoch 45/100
400/400 [==============================] - 0s 123us/step - loss: 0.0079 - val_loss: 0.0106
Epoch 46/100
400/400 [==============================] - 0s 132us/step - loss: 0.0079 - val_loss: 0.0104
Epoch 47/100
400/400 [==============================] - 0s 120us/step - loss: 0.0076 - val_loss: 0.0107
Epoch 48/100
400/400 [==============================] - 0s 105us/step - loss: 0.0078 - val_loss: 0.0103
Epoch 49/100
400/400 [==============================] - 0s 122us/step - loss: 0.0077 - val_loss: 0.0104
Epoch 50/100
400/400 [==============================] - 0s 118us/step - loss: 0.0081 - val_loss: 0.0112
Epoch 51/100
400/400 [==============================] - 0s 122us/step - loss: 0.0075 - val_loss: 0.0106
Epoch 52/100
400/400 [==============================] - 0s 112us/step - loss: 0.0077 - val_loss: 0.0111
Epoch 53/100
400/400 [==============================] - 0s 112us/step - loss: 0.0079 - val_loss: 0.0106
Epoch 54/100
400/400 [==============================] - 0s 120us/step - loss: 0.0075 - val_loss: 0.0107
Epoch 55/100
400/400 [==============================] - 0s 130us/step - loss: 0.0074 - val_loss: 0.0108
Epoch 56/100
400/400 [==============================] - 0s 152us/step - loss: 0.0078 - val_loss: 0.0107
Epoch 57/100
400/400 [==============================] - 0s 158us/step - loss: 0.0077 - val_loss: 0.0107
Epoch 58/100
400/400 [==============================] - 0s 142us/step - loss: 0.0075 - val_loss: 0.0109
Epoch 59/100
400/400 [==============================] - 0s 145us/step - loss: 0.0078 - val_loss: 0.0107
Epoch 60/100
400/400 [==============================] - 0s 143us/step - loss: 0.0076 - val_loss: 0.0107
Epoch 61/100
400/400 [==============================] - 0s 135us/step - loss: 0.0076 - val_loss: 0.0113
Epoch 62/100
400/400 [==============================] - 0s 130us/step - loss: 0.0078 - val_loss: 0.0113
Epoch 63/100
400/400 [==============================] - 0s 143us/step - loss: 0.0076 - val_loss: 0.0110
Epoch 64/100
400/400 [==============================] - 0s 135us/step - loss: 0.0078 - val_loss: 0.0111
Epoch 65/100
400/400 [==============================] - 0s 110us/step - loss: 0.0074 - val_loss: 0.0114
Epoch 66/100
400/400 [==============================] - 0s 107us/step - loss: 0.0080 - val_loss: 0.0112
Epoch 67/100
400/400 [==============================] - 0s 107us/step - loss: 0.0076 - val_loss: 0.0113
Epoch 68/100
400/400 [==============================] - 0s 112us/step - loss: 0.0071 - val_loss: 0.0111
Epoch 69/100
400/400 [==============================] - 0s 108us/step - loss: 0.0074 - val_loss: 0.0112
Epoch 70/100
400/400 [==============================] - 0s 102us/step - loss: 0.0072 - val_loss: 0.0113
Epoch 71/100
400/400 [==============================] - 0s 120us/step - loss: 0.0076 - val_loss: 0.0113
Epoch 72/100
400/400 [==============================] - 0s 108us/step - loss: 0.0071 - val_loss: 0.0113
Epoch 73/100
400/400 [==============================] - 0s 110us/step - loss: 0.0077 - val_loss: 0.0117
Epoch 74/100
400/400 [==============================] - 0s 125us/step - loss: 0.0076 - val_loss: 0.0112
Epoch 75/100
400/400 [==============================] - 0s 103us/step - loss: 0.0075 - val_loss: 0.0114
Epoch 76/100
400/400 [==============================] - 0s 135us/step - loss: 0.0076 - val_loss: 0.0111
Epoch 77/100
400/400 [==============================] - 0s 143us/step - loss: 0.0076 - val_loss: 0.0111
Epoch 78/100
400/400 [==============================] - 0s 140us/step - loss: 0.0073 - val_loss: 0.0109
Epoch 79/100

400/400 [==============================] - 0s 133us/step - loss: 0.0071 - val_loss: 0.0113
Epoch 80/100
400/400 [==============================] - 0s 135us/step - loss: 0.0074 - val_loss: 0.0111
Epoch 81/100
400/400 [==============================] - 0s 125us/step - loss: 0.0077 - val_loss: 0.0120
Epoch 82/100
400/400 [==============================] - 0s 113us/step - loss: 0.0072 - val_loss: 0.0118
Epoch 83/100
400/400 [==============================] - 0s 93us/step - loss: 0.0074 - val_loss: 0.0118
Epoch 84/100
400/400 [==============================] - 0s 115us/step - loss: 0.0072 - val_loss: 0.0120
Epoch 85/100
400/400 [==============================] - 0s 118us/step - loss: 0.0073 - val_loss: 0.0119
Epoch 86/100
400/400 [==============================] - 0s 130us/step - loss: 0.0078 - val_loss: 0.0116
Epoch 87/100
400/400 [==============================] - 0s 145us/step - loss: 0.0077 - val_loss: 0.0117
Epoch 88/100
400/400 [==============================] - 0s 135us/step - loss: 0.0075 - val_loss: 0.0118
Epoch 89/100
400/400 [==============================] - 0s 137us/step - loss: 0.0076 - val_loss: 0.0117
Epoch 90/100
400/400 [==============================] - 0s 145us/step - loss: 0.0077 - val_loss: 0.0113
Epoch 91/100
400/400 [==============================] - 0s 155us/step - loss: 0.0074 - val_loss: 0.0123
Epoch 92/100
400/400 [==============================] - 0s 102us/step - loss: 0.0074 - val_loss: 0.0119
Epoch 93/100
400/400 [==============================] - 0s 97us/step - loss: 0.0071 - val_loss: 0.0121
Epoch 94/100
400/400 [==============================] - 0s 117us/step - loss: 0.0072 - val_loss: 0.0119
Epoch 95/100
400/400 [==============================] - 0s 95us/step - loss: 0.0066 - val_loss: 0.0122
Epoch 96/100
400/400 [==============================] - 0s 112us/step - loss: 0.0069 - val_loss: 0.0120
Epoch 97/100
400/400 [==============================] - 0s 110us/step - loss: 0.0073 - val_loss: 0.0123
Epoch 98/100
400/400 [==============================] - 0s 113us/step - loss: 0.0069 - val_loss: 0.0119
Epoch 99/100
400/400 [==============================] - 0s 135us/step - loss: 0.0070 - val_loss: 0.0122
Epoch 100/100
400/400 [==============================] - 0s 142us/step - loss: 0.0073 - val_loss: 0.0122

In [19]:
# if model exist, just load it
# model = load_model('LSTM_IQ.h5')

In [20]:
#pre processing for test data
iq_test_features_scaled = sc_X.fit_transform(iq_test_features.drop(columns = ["week_start_date"]))

In [21]:
iq_test_features_scaled.shape

(156, 20)

In [22]:
X_test = []
for i in range(0, len(iq_test_features_scaled)):
    X_test.append(iq_test_features_scaled[i,:])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [23]:
predictions = model.predict(X_test)

In [24]:
predictions

array([[ 0.03807564],
       [ 0.01271064],
       [ 0.03608344],
       [ 0.01820875],
       [-0.01772589],
       [ 0.01632602],
       [-0.03957875],
       [ 0.00773033],
       [-0.03434106],
       [-0.00226474],
       [ 0.03587076],
       [ 0.01254704],
       [-0.00685298],
       [-0.02303885],
       [-0.05847735],
       [ 0.00982037],
       [ 0.00728808],
       [ 0.04490703],
       [ 0.05059738],
       [-0.02389464],
       [ 0.01705793],
       [ 0.05157518],
       [ 0.05685613],
       [ 0.05109473],
       [ 0.03464596],
       [ 0.02472063],
       [ 0.03303979],
       [ 0.00404382],
       [ 0.03521173],
       [ 0.04557449],
       [ 0.01341238],
       [ 0.03039222],
       [ 0.04590715],
       [ 0.00470076],
       [ 0.05065323],
       [ 0.05623683],
       [ 0.04781903],
       [ 0.02620809],
       [ 0.06209823],
       [ 0.06326769],
       [ 0.04310304],
       [ 0.06893018],
       [ 0.04719479],
       [ 0.05193852],
       [ 0.0503648 ],
       [ 0.03280276],
       [ 0.04495137],
       [ 0.06040505],
       [ 0.04866119],
       [ 0.088431  ],
       [-0.00555811],
       [ 0.02541689],
       [ 0.01126523],
       [ 0.05279552],
       [-0.01339601],
       [-0.00351485],
       [ 0.01218527],
       [-0.01219054],
       [-0.01340144],
       [-0.02168831],
       [-0.00796048],
       [-0.02397863],
       [-0.00754536],
       [ 0.02696555],
       [-0.00992887],
       [ 0.01695033],
       [ 0.02360477],
       [ 0.04920478],
       [ 0.05448105],
       [-0.0029528 ],
       [ 0.00663634],
       [ 0.0157099 ],
       [ 0.01383017],
       [ 0.04711922],
       [ 0.03493092],
       [ 0.04210036],
       [ 0.05482762],
       [ 0.02142984],
       [ 0.0411409 ],
       [ 0.07485126],
       [ 0.0385929 ],
       [ 0.04211557],
       [ 0.02208002],
       [ 0.05042365],
       [ 0.03771052],
       [ 0.0482761 ],
       [ 0.02281356],
       [ 0.04221405],
       [ 0.02695603],
       [ 0.03858635],
       [ 0.00665505],
       [ 0.03574309],
       [ 0.03674532],
       [ 0.05014608],
       [ 0.07623927],
       [ 0.02056901],
       [ 0.05796883],
       [ 0.01460343],
       [ 0.04875986],
       [ 0.02308495],
       [ 0.02074291],
       [ 0.02476045],
       [ 0.00612654],
       [-0.00136929],
       [-0.02137003],
       [ 0.00264542],
       [ 0.00341346],
       [-0.00479399],
       [-0.04220458],
       [ 0.0085118 ],
       [-0.02222927],
       [-0.01087295],
       [-0.01140183],
       [ 0.00695078],
       [ 0.09198359],
       [-0.01179902],
       [-0.04347849],
       [-0.01409732],
       [ 0.00568337],
       [ 0.03152745],
       [ 0.02380909],
       [ 0.06140918],
       [ 0.01684702],
       [ 0.01672664],
       [ 0.04850716],
       [ 0.09371758],
       [ 0.06644873],
       [ 0.03202562],
       [ 0.03620275],
       [ 0.06105505],
       [ 0.05264809],
       [ 0.05012871],
       [ 0.05222418],
       [ 0.05855575],
       [ 0.04940968],
       [ 0.03820669],
       [ 0.01312925],
       [ 0.04930052],
       [ 0.05814729],
       [ 0.07048792],
       [ 0.05939029],
       [ 0.06854589],
       [ 0.05366157],
       [ 0.02765375],
       [ 0.04151454],
       [ 0.05315047],
       [ 0.06545869],
       [-0.04089765],
       [ 0.04172521],
       [ 0.04400246],
       [ 0.04491614],
       [ 0.02394125],
       [ 0.0339273 ],
       [ 0.03124764],
       [ 0.00585379],
       [-0.00696156]], dtype=float32)

In [25]:
predictions = sc_Y.inverse_transform(predictions)

In [59]:
iq_submission = submission_format.loc["iq"]
# sj_submission["total_cases"] = predictions
# sj_submission = predictions_submission.reset_index()
# sj_submission.insert(0, 'city', 'sj')

# predictions.shape
iq_submission

                 total_cases
year weekofyear
2010 26                    0
     27                    0
     28                    0
     29                    0
     30                    0
...                      ...
2013 22                    0
     23                    0
     24                    0
     25                    0
     26                    0

[156 rows x 1 columns]

In [60]:
iq_submission["total_cases"] = predictions

In [61]:
iq_submission.insert(0, 'city', 'iq')

In [62]:
iq_submission.reset_index()

     year  weekofyear city  total_cases
0    2010          26   iq     4.416775
1    2010          27   iq     1.474434
2    2010          28   iq     4.185679
3    2010          29   iq     2.112215
4    2010          30   iq    -2.056204
..    ...         ...  ...          ...
151  2013          22   iq     2.777185
152  2013          23   iq     3.935566
153  2013          24   iq     3.624726
154  2013          25   iq     0.679039
155  2013          26   iq    -0.807541

[156 rows x 4 columns]

In [64]:
iq_submission.to_csv("LSTMiq.csv")

In [44]:
sj_submission = pd.read_csv("LSTMsj.csv")

In [45]:
sj_submission

     year  weekofyear city  total_cases
0    2008          18   sj    37.235220
1    2008          19   sj    42.005000
2    2008          20   sj    17.846382
3    2008          21   sj    21.335382
4    2008          22   sj    75.095276
..    ...         ...  ...          ...
255  2013          13   sj    22.402271
256  2013          14   sj    36.990715
257  2013          15   sj    28.032255
258  2013          16   sj    19.180260
259  2013          17   sj    27.784853

[260 rows x 4 columns]

In [63]:
submission = np.concatenate((sj_submission, iq_submission))

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 4 and the array at index 1 has size 2

In [54]:
submission

           city  total_cases  weekofyear    year
(2010, 26)   iq     4.416775         NaN     NaN
(2010, 27)   iq     1.474434         NaN     NaN
(2010, 28)   iq     4.185679         NaN     NaN
(2010, 29)   iq     2.112215         NaN     NaN
(2010, 30)   iq    -2.056204         NaN     NaN
...         ...          ...         ...     ...
255          sj    22.402271        13.0  2013.0
256          sj    36.990715        14.0  2013.0
257          sj    28.032255        15.0  2013.0
258          sj    19.180260        16.0  2013.0
259          sj    27.784853        17.0  2013.0

[416 rows x 4 columns]