In [1]:
import numpy as np
import pandas as pd
from keras.models import load_model

Using TensorFlow backend.

In [2]:
test_features = pd.read_csv("dengue_features_test.csv", index_col=[0,1,2]) 
train_features = pd.read_csv("dengue_features_train.csv", index_col=[0,1,2]) 
train_labels = pd.read_csv("dengue_labels_train.csv", index_col=[0,1,2]) 
submission_format = pd.read_csv("submission_format.csv", index_col=[0,1,2])

## Only SJ Columns

In [3]:
# Seperate data for San Juan
sj_train_features = train_features.loc['sj']
sj_train_labels = train_labels.loc["sj"]
sj_test_features = test_features.loc["sj"]

In [4]:
#removing NaNs
sj_train_features.fillna(0, inplace=True)
sj_test_features.fillna(0, inplace=True)

c:\users\milla\projects\databears\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [5]:
sj_train_features.set_index("week_start_date")
sj_test_features.set_index("week_start_date")

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,
2008-04-29,-0.01890,-0.018900,0.102729,0.091200,78.60,298.492857,298.550000,294.527143,301.1,296.4,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
2008-05-06,-0.01800,-0.012400,0.082043,0.072314,12.56,298.475714,298.557143,294.395714,300.8,296.7,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2008-05-13,-0.00150,0.000000,0.151083,0.091529,3.66,299.455714,299.357143,295.308571,302.2,296.4,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
2008-05-20,0.00000,-0.019867,0.124329,0.125686,0.00,299.690000,299.728571,294.402857,303.0,296.9,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
2008-05-27,0.05680,0.039833,0.062267,0.075914,0.76,299.780000,299.671429,294.760000,302.3,297.3,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-26,-0.08740,-0.016183,0.156343,0.105186,30.34,298.670000,298.885714,294.675714,301.3,296.4,2.55,78.780000,30.34,15.985714,3.314286,27.542857,7.942857,33.9,22.8,3.5
2013-04-02,-0.20325,-0.077833,0.204171,0.178914,6.55,298.035714,298.157143,294.628571,301.5,295.9,64.30,81.650000,6.55,15.881429,2.828571,26.642857,6.642857,33.3,22.8,17.6
2013-04-09,-0.11760,-0.008200,0.192700,0.170429,0.00,299.057143,299.328571,294.948571,301.5,297.5,0.70,78.285714,0.00,16.212857,3.171429,27.914286,8.114286,32.8,23.3,9.4
2013-04-16,0.08275,0.031200,0.135014,0.074857,0.00,298.912857,299.064286,294.678571,300.9,297.3,1.40,77.674286,0.00,15.965714,3.042857,27.728571,6.942857,31.7,23.9,22.9
2013-04-23,-0.08730,-0.048667,0.129814,0.117671,45.47,298.067143,298.042857,294.132857,300.2,296.6,19.90,79.045714,45.47,15.451429,2.342857,26.442857,6.742857,31.1,21.7,47.5

In [6]:
#removing NaNs - test

sj_train_features.isnull().sum()
# sj_train_features

week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [7]:
sj_train_labels["week_start_date"] = sj_train_features["week_start_date"]

In [8]:
sj_train_labels.set_index("week_start_date")

                 total_cases
week_start_date
1990-04-30                 4
1990-05-07                 5
1990-05-14                 4
1990-05-21                 3
1990-05-28                 6
...                      ...
2008-03-25                 4
2008-04-01                 3
2008-04-08                 1
2008-04-15                 3
2008-04-22                 5

[936 rows x 1 columns]

In [9]:
# data normalization
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler(feature_range=(0,1))
sc_Y = MinMaxScaler(feature_range=(0,1))
sj_train_features_scaled = sc_X.fit_transform(sj_train_features.drop(columns = ["week_start_date"]))
sj_train_labels_scaled = sc_Y.fit_transform(np.reshape(sj_train_labels["total_cases"].tolist(), (936, 1)))

In [10]:
sj_train_features_scaled

array([[0.58783972, 0.62676332, 0.52370092, ..., 0.8258427 , 0.78125   ,
        0.05230467],
       [0.64041572, 0.66981079, 0.43529974, ..., 0.89044944, 0.8671875 ,
        0.02811376],
       [0.48741177, 0.70428426, 0.42268026, ..., 0.90449438, 0.890625  ,
        0.13533835],
       ...,
       [0.27905297, 0.45157859, 0.37510328, ..., 0.8258427 , 0.84765625,
        0.10035959],
       [0.45356528, 0.51063592, 0.53695564, ..., 0.8258427 , 0.84765625,
        0.03661327],
       [0.41043739, 0.4990297 , 0.22719909, ..., 0.89044944, 0.91015625,
        0.00098071]])

In [11]:
sj_train_labels_scaled.shape

(936, 1)

In [12]:
sj_train_labels

                 total_cases week_start_date
year weekofyear
1990 18                    4      1990-04-30
     19                    5      1990-05-07
     20                    4      1990-05-14
     21                    3      1990-05-21
     22                    6      1990-05-28
...                      ...             ...
2008 13                    4      2008-03-25
     14                    3      2008-04-01
     15                    1      2008-04-08
     16                    3      2008-04-15
     17                    5      2008-04-22

[936 rows x 2 columns]

In [22]:
#incoperating time steps into data

X_train = []
y_train = []
for i in range(0, 936):
    X_train.append(sj_train_features_scaled[i,:])
    y_train.append(sj_train_labels_scaled[i,0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))

In [23]:
X_train.shape

(936, 1, 20)

In [24]:
X_train[1:].shape

(935, 1, 20)

In [25]:
#Model

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(1, 20)))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train[:700],y_train[:700],epochs=100,batch_size=32, 
          validation_data=(X_train[700:], y_train[700:]))
model.save('LSTM_SJ.h5')

Train on 700 samples, validate on 236 samples
Epoch 1/100
700/700 [==============================] - 1s 1ms/step - loss: 0.0159 - val_loss: 0.0048
Epoch 2/100
700/700 [==============================] - 0s 103us/step - loss: 0.0152 - val_loss: 0.0042
Epoch 3/100
700/700 [==============================] - 0s 124us/step - loss: 0.0149 - val_loss: 0.0045
Epoch 4/100
700/700 [==============================] - 0s 134us/step - loss: 0.0149 - val_loss: 0.0057
Epoch 5/100
700/700 [==============================] - 0s 124us/step - loss: 0.0145 - val_loss: 0.0053
Epoch 6/100
700/700 [==============================] - 0s 129us/step - loss: 0.0144 - val_loss: 0.0043
Epoch 7/100
700/700 [==============================] - 0s 112us/step - loss: 0.0140 - val_loss: 0.0050
Epoch 8/100
700/700 [==============================] - 0s 99us/step - loss: 0.0137 - val_loss: 0.0074
Epoch 9/100
700/700 [==============================] - 0s 107us/step - loss: 0.0140 - val_loss: 0.0062
Epoch 10/100
700/700 [==============================] - 0s 103us/step - loss: 0.0140 - val_loss: 0.0079
Epoch 11/100
700/700 [==============================] - 0s 113us/step - loss: 0.0139 - val_loss: 0.0073
Epoch 12/100
700/700 [==============================] - 0s 113us/step - loss: 0.0132 - val_loss: 0.0068
Epoch 13/100
700/700 [==============================] - 0s 103us/step - loss: 0.0132 - val_loss: 0.0061
Epoch 14/100
700/700 [==============================] - 0s 116us/step - loss: 0.0133 - val_loss: 0.0061
Epoch 15/100
700/700 [==============================] - 0s 99us/step - loss: 0.0134 - val_loss: 0.0072
Epoch 16/100
700/700 [==============================] - 0s 117us/step - loss: 0.0128 - val_loss: 0.0060
Epoch 17/100
700/700 [==============================] - 0s 111us/step - loss: 0.0133 - val_loss: 0.0058
Epoch 18/100
700/700 [==============================] - 0s 97us/step - loss: 0.0131 - val_loss: 0.0071
Epoch 19/100
700/700 [==============================] - 0s 114us/step - loss: 0.0131 - val_loss: 0.0068
Epoch 20/100
700/700 [==============================] - 0s 100us/step - loss: 0.0127 - val_loss: 0.0073
Epoch 21/100
700/700 [==============================] - 0s 111us/step - loss: 0.0128 - val_loss: 0.0074
Epoch 22/100
700/700 [==============================] - 0s 99us/step - loss: 0.0129 - val_loss: 0.0072
Epoch 23/100
700/700 [==============================] - 0s 99us/step - loss: 0.0130 - val_loss: 0.0070
Epoch 24/100
700/700 [==============================] - 0s 94us/step - loss: 0.0129 - val_loss: 0.0055
Epoch 25/100
700/700 [==============================] - 0s 94us/step - loss: 0.0128 - val_loss: 0.0061
Epoch 26/100
700/700 [==============================] - 0s 106us/step - loss: 0.0126 - val_loss: 0.0083
Epoch 27/100
700/700 [==============================] - 0s 116us/step - loss: 0.0124 - val_loss: 0.0061
Epoch 28/100
700/700 [==============================] - 0s 126us/step - loss: 0.0127 - val_loss: 0.0070
Epoch 29/100
700/700 [==============================] - 0s 139us/step - loss: 0.0127 - val_loss: 0.0076
Epoch 30/100
700/700 [==============================] - 0s 157us/step - loss: 0.0121 - val_loss: 0.0067
Epoch 31/100
700/700 [==============================] - 0s 159us/step - loss: 0.0119 - val_loss: 0.0064
Epoch 32/100
700/700 [==============================] - 0s 141us/step - loss: 0.0120 - val_loss: 0.0067
Epoch 33/100
700/700 [==============================] - 0s 144us/step - loss: 0.0123 - val_loss: 0.0066
Epoch 34/100
700/700 [==============================] - 0s 130us/step - loss: 0.0117 - val_loss: 0.0057
Epoch 35/100
700/700 [==============================] - 0s 144us/step - loss: 0.0112 - val_loss: 0.0063
Epoch 36/100
700/700 [==============================] - 0s 141us/step - loss: 0.0112 - val_loss: 0.0099
Epoch 37/100
700/700 [==============================] - 0s 141us/step - loss: 0.0110 - val_loss: 0.0083
Epoch 38/100
700/700 [==============================] - 0s 139us/step - loss: 0.0107 - val_loss: 0.0065
Epoch 39/100
700/700 [==============================] - 0s 147us/step - loss: 0.0103 - val_loss: 0.0117
Epoch 40/100
700/700 [==============================] - 0s 141us/step - loss: 0.0105 - val_loss: 0.0081
Epoch 41/100
700/700 [==============================] - 0s 139us/step - loss: 0.0098 - val_loss: 0.0064
Epoch 42/100
700/700 [==============================] - 0s 143us/step - loss: 0.0099 - val_loss: 0.0096
Epoch 43/100
700/700 [==============================] - 0s 134us/step - loss: 0.0102 - val_loss: 0.0073
Epoch 44/100
700/700 [==============================] - 0s 130us/step - loss: 0.0097 - val_loss: 0.0062
Epoch 45/100
700/700 [==============================] - 0s 133us/step - loss: 0.0103 - val_loss: 0.0056
Epoch 46/100
700/700 [==============================] - 0s 143us/step - loss: 0.0105 - val_loss: 0.0075
Epoch 47/100
700/700 [==============================] - 0s 137us/step - loss: 0.0097 - val_loss: 0.0070
Epoch 48/100
700/700 [==============================] - 0s 110us/step - loss: 0.0105 - val_loss: 0.0046
Epoch 49/100
700/700 [==============================] - 0s 109us/step - loss: 0.0099 - val_loss: 0.0094
Epoch 50/100
700/700 [==============================] - 0s 133us/step - loss: 0.0090 - val_loss: 0.0069
Epoch 51/100
700/700 [==============================] - 0s 123us/step - loss: 0.0092 - val_loss: 0.0051
Epoch 52/100
700/700 [==============================] - 0s 123us/step - loss: 0.0093 - val_loss: 0.0077
Epoch 53/100
700/700 [==============================] - 0s 110us/step - loss: 0.0094 - val_loss: 0.0079
Epoch 54/100
700/700 [==============================] - 0s 119us/step - loss: 0.0090 - val_loss: 0.0054
Epoch 55/100
700/700 [==============================] - 0s 109us/step - loss: 0.0085 - val_loss: 0.0085
Epoch 56/100
700/700 [==============================] - 0s 102us/step - loss: 0.0092 - val_loss: 0.0058
Epoch 57/100
700/700 [==============================] - 0s 105us/step - loss: 0.0083 - val_loss: 0.0070
Epoch 58/100
700/700 [==============================] - 0s 106us/step - loss: 0.0085 - val_loss: 0.0050
Epoch 59/100
700/700 [==============================] - 0s 104us/step - loss: 0.0093 - val_loss: 0.0102
Epoch 60/100
700/700 [==============================] - 0s 104us/step - loss: 0.0089 - val_loss: 0.0073
Epoch 61/100
700/700 [==============================] - 0s 104us/step - loss: 0.0089 - val_loss: 0.0081
Epoch 62/100
700/700 [==============================] - 0s 106us/step - loss: 0.0093 - val_loss: 0.0069
Epoch 63/100
700/700 [==============================] - 0s 110us/step - loss: 0.0092 - val_loss: 0.0050
Epoch 64/100
700/700 [==============================] - 0s 124us/step - loss: 0.0086 - val_loss: 0.0066
Epoch 65/100
700/700 [==============================] - 0s 110us/step - loss: 0.0098 - val_loss: 0.0045
Epoch 66/100
700/700 [==============================] - 0s 116us/step - loss: 0.0086 - val_loss: 0.0073
Epoch 67/100
700/700 [==============================] - 0s 124us/step - loss: 0.0083 - val_loss: 0.0061
Epoch 68/100
700/700 [==============================] - 0s 126us/step - loss: 0.0078 - val_loss: 0.0064
Epoch 69/100
700/700 [==============================] - 0s 129us/step - loss: 0.0082 - val_loss: 0.0052
Epoch 70/100
700/700 [==============================] - 0s 123us/step - loss: 0.0092 - val_loss: 0.0048
Epoch 71/100
700/700 [==============================] - 0s 137us/step - loss: 0.0095 - val_loss: 0.0058
Epoch 72/100
700/700 [==============================] - 0s 144us/step - loss: 0.0090 - val_loss: 0.0048
Epoch 73/100
700/700 [==============================] - 0s 137us/step - loss: 0.0081 - val_loss: 0.0055
Epoch 74/100
700/700 [==============================] - 0s 109us/step - loss: 0.0086 - val_loss: 0.0077
Epoch 75/100
700/700 [==============================] - 0s 130us/step - loss: 0.0090 - val_loss: 0.0064
Epoch 76/100
700/700 [==============================] - 0s 133us/step - loss: 0.0077 - val_loss: 0.0056
Epoch 77/100
700/700 [==============================] - 0s 131us/step - loss: 0.0078 - val_loss: 0.0057
Epoch 78/100
700/700 [==============================] - 0s 120us/step - loss: 0.0079 - val_loss: 0.0054
Epoch 79/100

700/700 [==============================] - 0s 100us/step - loss: 0.0086 - val_loss: 0.0058
Epoch 80/100
700/700 [==============================] - 0s 130us/step - loss: 0.0084 - val_loss: 0.0048
Epoch 81/100
700/700 [==============================] - 0s 121us/step - loss: 0.0086 - val_loss: 0.0049
Epoch 82/100
700/700 [==============================] - 0s 119us/step - loss: 0.0087 - val_loss: 0.0063
Epoch 83/100
700/700 [==============================] - 0s 97us/step - loss: 0.0085 - val_loss: 0.0086
Epoch 84/100
700/700 [==============================] - 0s 113us/step - loss: 0.0088 - val_loss: 0.0048
Epoch 85/100
700/700 [==============================] - 0s 134us/step - loss: 0.0077 - val_loss: 0.0064
Epoch 86/100
700/700 [==============================] - 0s 119us/step - loss: 0.0082 - val_loss: 0.0046
Epoch 87/100
700/700 [==============================] - 0s 104us/step - loss: 0.0081 - val_loss: 0.0063
Epoch 88/100
700/700 [==============================] - 0s 133us/step - loss: 0.0083 - val_loss: 0.0057
Epoch 89/100
700/700 [==============================] - 0s 127us/step - loss: 0.0082 - val_loss: 0.0054
Epoch 90/100
700/700 [==============================] - 0s 111us/step - loss: 0.0080 - val_loss: 0.0055
Epoch 91/100
700/700 [==============================] - 0s 109us/step - loss: 0.0077 - val_loss: 0.0055
Epoch 92/100
700/700 [==============================] - 0s 134us/step - loss: 0.0080 - val_loss: 0.0047
Epoch 93/100
700/700 [==============================] - 0s 136us/step - loss: 0.0076 - val_loss: 0.0072
Epoch 94/100
700/700 [==============================] - 0s 127us/step - loss: 0.0082 - val_loss: 0.0059
Epoch 95/100
700/700 [==============================] - 0s 130us/step - loss: 0.0082 - val_loss: 0.0050
Epoch 96/100
700/700 [==============================] - 0s 136us/step - loss: 0.0077 - val_loss: 0.0042
Epoch 97/100
700/700 [==============================] - 0s 133us/step - loss: 0.0085 - val_loss: 0.0076
Epoch 98/100
700/700 [==============================] - 0s 120us/step - loss: 0.0080 - val_loss: 0.0052
Epoch 99/100
700/700 [==============================] - 0s 137us/step - loss: 0.0081 - val_loss: 0.0053
Epoch 100/100
700/700 [==============================] - 0s 131us/step - loss: 0.0078 - val_loss: 0.0053

In [26]:
# if model exist, just load it
# model = load_model('LSTM_SJ.h5')

In [27]:
#pre processing for test data
sj_test_features_scaled = sc_X.fit_transform(sj_test_features.drop(columns = ["week_start_date"]))

In [28]:
sj_test_features_scaled.shape

(260, 20)

In [31]:
X_test = []
for i in range(0, 260):
    X_test.append(sj_test_features_scaled[i,:])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [32]:
predictions = model.predict(X_test)

In [33]:
predictions

array([[0.08077054],
       [0.09111714],
       [0.03871233],
       [0.04628066],
       [0.16289648],
       [0.07468658],
       [0.0654878 ],
       [0.0565668 ],
       [0.07221966],
       [0.07492054],
       [0.0741073 ],
       [0.07152792],
       [0.06537547],
       [0.07797946],
       [0.0854805 ],
       [0.2869683 ],
       [0.08060382],
       [0.07838701],
       [0.08357653],
       [0.08801799],
       [0.07594875],
       [0.09684929],
       [0.08022256],
       [0.07262507],
       [0.0757638 ],
       [0.07447584],
       [0.0695186 ],
       [0.08128367],
       [0.06774045],
       [0.07862515],
       [0.0756204 ],
       [0.04667136],
       [0.06397533],
       [0.06833152],
       [0.06339346],
       [0.07273534],
       [0.05764971],
       [0.05818072],
       [0.06838594],
       [0.06604331],
       [0.05352501],
       [0.06692287],
       [0.06678491],
       [0.05445651],
       [0.06311475],
       [0.0884629 ],
       [0.06209335],
       [0.06246505],
       [0.04653377],
       [0.05305756],
       [0.03897623],
       [0.04763133],
       [0.0647436 ],
       [0.19752693],
       [0.07425354],
       [0.08315645],
       [0.08128075],
       [0.06891707],
       [0.10678929],
       [0.06954882],
       [0.07378393],
       [0.07076264],
       [0.07484835],
       [0.07513358],
       [0.07617377],
       [0.07170397],
       [0.073938  ],
       [0.07298286],
       [0.0916317 ],
       [0.07853749],
       [0.06944503],
       [0.08245435],
       [0.14373705],
       [0.07405842],
       [0.07480557],
       [0.08306892],
       [0.0767604 ],
       [0.07488661],
       [0.07295633],
       [0.06587616],
       [0.07478467],
       [0.06791871],
       [0.07066119],
       [0.06540613],
       [0.06814224],
       [0.06656449],
       [0.0553553 ],
       [0.10892597],
       [0.06420534],
       [0.06223034],
       [0.06778188],
       [0.06557414],
       [0.05264212],
       [0.05299944],
       [0.05300663],
       [0.08389124],
       [0.06143577],
       [0.4263372 ],
       [0.06952846],
       [0.06239114],
       [0.0622494 ],
       [0.06602411],
       [0.05799503],
       [0.07473136],
       [0.3092533 ],
       [0.07529828],
       [0.06880211],
       [0.08019029],
       [0.07393574],
       [0.17382395],
       [0.0745153 ],
       [0.06836604],
       [0.09304226],
       [0.08041573],
       [0.07838694],
       [0.0802861 ],
       [0.36303085],
       [0.08363394],
       [0.07635374],
       [0.13545145],
       [0.08254986],
       [0.07625976],
       [0.0935694 ],
       [0.08006351],
       [0.0870919 ],
       [0.06645104],
       [0.07189623],
       [0.08388638],
       [0.08435074],
       [0.06067801],
       [0.06347501],
       [0.07893009],
       [0.11267511],
       [0.06636841],
       [0.06834004],
       [0.06899145],
       [0.05172365],
       [0.06956453],
       [0.06018382],
       [0.06297788],
       [0.05708131],
       [0.05141466],
       [0.06647592],
       [0.06203116],
       [0.06123352],
       [0.05215434],
       [0.06036384],
       [0.06452767],
       [0.05981777],
       [0.05927946],
       [0.06303539],
       [0.06106462],
       [0.06675685],
       [0.05889797],
       [0.05747876],
       [0.07053879],
       [0.05422305],
       [0.07066327],
       [0.06115948],
       [0.1478166 ],
       [0.20376284],
       [0.07800652],
       [0.25254604],
       [0.11657442],
       [0.07688742],
       [0.07616433],
       [0.08223328],
       [0.08006311],
       [0.07092047],
       [0.08399624],
       [0.08508212],
       [0.08582059],
       [0.07281066],
       [0.10073105],
       [0.08075453],
       [0.07600087],
       [0.08001358],
       [0.07614779],
       [0.0755913 ],
       [0.06491131],
       [0.0676292 ],
       [0.06976661],
       [0.05821212],
       [0.06955609],
       [0.06273728],
       [0.15669203],
       [0.08273062],
       [0.07692055],
       [0.06267143],
       [0.09400581],
       [0.04498569],
       [0.04979787],
       [0.06472834],
       [0.06282283],
       [0.0621554 ],
       [0.06164727],
       [0.05259447],
       [0.06309797],
       [0.05336902],
       [0.05972105],
       [0.05953235],
       [0.06194557],
       [0.06676231],
       [0.12475349],
       [0.07933078],
       [0.0701818 ],
       [0.06148507],
       [0.07452233],
       [0.05908012],
       [0.1259661 ],
       [0.07293314],
       [0.15864861],
       [0.06623699],
       [0.06322305],
       [0.06674434],
       [0.0549999 ],
       [0.06982093],
       [0.0641076 ],
       [0.06590469],
       [0.07624363],
       [0.07442083],
       [0.07439268],
       [0.06943474],
       [0.08924054],
       [0.20374838],
       [0.0971966 ],
       [0.0876449 ],
       [0.06669178],
       [0.06722107],
       [0.06934931],
       [0.06661619],
       [0.07560255],
       [0.06929301],
       [0.080828  ],
       [0.06853341],
       [0.07105544],
       [0.0747695 ],
       [0.08412331],
       [1.2322224 ],
       [0.07677327],
       [0.06940055],
       [0.27816093],
       [0.1356281 ],
       [0.06489772],
       [0.05215401],
       [0.05567574],
       [0.06387875],
       [0.05815291],
       [0.04579452],
       [0.05902714],
       [0.06072645],
       [0.04752063],
       [0.7279842 ],
       [0.06510816],
       [0.03759254],
       [0.04859495],
       [0.08024016],
       [0.0608075 ],
       [0.04160577],
       [0.06027083]], dtype=float32)

In [34]:
predictions = sc_Y.inverse_transform(predictions)

In [35]:
sj_submission = submission_format.loc["sj"]
# sj_submission["total_cases"] = predictions
# sj_submission = predictions_submission.reset_index()
# sj_submission.insert(0, 'city', 'sj')

# predictions.shape
sj_submission

                 total_cases
year weekofyear
2008 18                    0
     19                    0
     20                    0
     21                    0
     22                    0
...                      ...
2013 13                    0
     14                    0
     15                    0
     16                    0
     17                    0

[260 rows x 1 columns]

In [37]:
sj_submission["total_cases"] = predictions

In [42]:
sj_submission.insert(0, 'city', 'sj')

In [43]:
sj_submission

                city  total_cases
year weekofyear
2008 18           sj    37.235222
     19           sj    42.005001
     20           sj    17.846382
     21           sj    21.335382
     22           sj    75.095276
...              ...          ...
2013 13           sj    22.402271
     14           sj    36.990715
     15           sj    28.032255
     16           sj    19.180260
     17           sj    27.784853

[260 rows x 2 columns]

In [44]:
sj_submission.reset_index()

     year  weekofyear city  total_cases
0    2008          18   sj    37.235222
1    2008          19   sj    42.005001
2    2008          20   sj    17.846382
3    2008          21   sj    21.335382
4    2008          22   sj    75.095276
..    ...         ...  ...          ...
255  2013          13   sj    22.402271
256  2013          14   sj    36.990715
257  2013          15   sj    28.032255
258  2013          16   sj    19.180260
259  2013          17   sj    27.784853

[260 rows x 4 columns]

In [46]:
sj_submission.to_csv("LSTMsj.csv")